.nav{
    background-color: rgb(255, 255, 255);
    display: flex;  
    margin: 0.5rem auto;
    color: black;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
}

.nav__list {
    align-items: center;
    margin: 0;
}

.nav__item{
   display: inline;
   padding-left: 20px;
   padding-right: 20px;
}


